body {
  font-family: sans-serif;
}
h1, h2 {
  font-weight: 400;
  color: steelblue;
  text-align: center;
}
h2 {
  position: relative;
  padding: 1.5rem 1rem;
}

h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: '';
  background-image: -webkit-repeating-linear-gradient(135deg, #000, #000 1px, transparent 2px, transparent 5px);
  background-image: repeating-linear-gradient(-45deg, #000, #000 1px, transparent 2px, transparent 5px);
  background-size: 7px 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#studios > div {
  margin: 1em 0;
  padding: 0.5em;
  background: #f8f8f8;
  min-height: 3em;
}
.studio-title {
  font-weight: bold;
}
.studio-title-en {
  margin-left: 1em;
  font-weight: 100;
  opacity: 0.75;
}
