body {
    font-family: sans-serif;
  }

  h2 {
    position: relative;
    padding: 1rem 2rem calc(1rem + 10px);
    background: #fff100;
  }
  
  h2:before {
    position: absolute;
    top: -7px;
    left: -7px;
    width: 100%;
    height: 100%;
    content: '';
    border: 4px solid #000;
  }
  
  .button-div {
    overflow: hidden;
    padding: 1.5rem 6rem;
    color: #fff;
    border-radius: 0;
    background: #000;
  }
  
  .button-div span {
    position: relative;
  }
  
  .button-div:before {
    position: absolute;
    top: 0;
    left: 30px;
    width: 150%;
    height: 500%;
    content: '';
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-70%) rotate(135deg);
    transform: translateX(-98%) translateY(-70%) rotate(135deg);
    background: #fff100;
  }
  
  .buton-div:hover:before {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(135deg);
    transform: translateX(-9%) translateY(-25%) rotate(135deg);
  }

  /* h1, h2 {
    font-weight: 400;
    color: steelblue;
  } */
  /* .diamond {
    width: 45px;
    height:45px;
    background: #2d2929;
    transform: rotate(45deg);
    overflow: hidden;
    margin: 0 auto;
  } */
  /* #studios > div {
    width: 180px;
    height:180px;
    background: photo1;
    transform: rotate(45deg);
    overflow: hidden;
    margin: 0 auto;
  }
  .studio-title {
    font-size: 20px;
    line-height: 45px;
    color: #fff;
    background: transparent;
    transform: rotate(-45deg);
    text-align: center;
  }
  .studio-title-en {
    margin-left: 1em;
    font-weight: 100;
    opacity: 0.75;
  }

  .img_wrap {
    border: 1px solid #ddd;
  width: 300px;
  height: 226px;
  margin: 0 auto;
  overflow: hidden;
  }
  .img_wrap img{
    width: 100%;
    transform: scale(1.1);
    cursor: pointer;
    filter: grayscale(100%);
    transition-duration: 0.5s;
  }
  .img_wrap img:hover{
    filter: grayscale(0);
    transition-duration: 0.5s;
  } */
  